<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>VueJs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <div class="container" id="app">
  <div class="form-inline mr-auto">
      <label class="font-weight-bold mr-2" for="formMax">max</label>
      <input type="text" id="formMax" class="form-control w-25" v-model="maximum">
  </div>
  <input type="range" class="custom-range" min="0" max="300" v-model="maximum">
    <div class="row d-flex mb-3 align-items-center"
          v-for="item in products"
          v-if="item.price<=Number(maximum)">
        <div class="col-sm-4">
            <img class="img-fluid d-block" :src="item.image" :alt="item.name">
          </div>
          <div class="col">
            <h3 class="text-info">{{ item.name }}</h3>
            <p class="mb-0">{{ item.description }}</p>
            <div class="h5 float-right">${{ item.price }}</div>
          </div>
    </div>

      
</div>
  <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
