<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>VueJs</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
      <link rel="stylesheet" href="css/style.css">
      <script src="Vue.js"></script>
  
</head>

<body>
<br>
<div class="container" id="app">
  <div class="form-inline mr-auto">
      <label class="font-weight-bold mr-2" for="formMax">max</label>
      <input type="text" id="formMax" class="form-control w-25" v-model="maximum">
  </div>
  <input type="range" class="custom-range" min="0" max="300" v-model="maximum">
    <div class="row d-flex mb-3 align-items-center"
          v-for="item in products"
          v-if="item.price<=Number(maximum)">
        <div class="col-sm-4">
            <img class="img-fluid d-block" :src="item.image" :alt="item.name">
          </div>
          <div class="col">
            <h3 class="text-info">{{ item.name }}</h3>
            <p class="mb-0">{{ item.description }}</p>
            <div class="h5 float-right">${{ item.price }}</div>
          </div>
    </div>

      
</div>
<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
<script>

var data = {
maximum: 250,
products: [

{
  "id": "532",
  "name": "Slicker Jacket.",
  "description": "The Slicker Jackets Fits as magic, try this awesome jacket and fell the look and comfort of flying in the Blue-Sky",
  "price": "200",
  "image_title": "slicker-jacket_lynda_29941",
  "image": "images/slicker1.jpg"
},

{ 
  "id": "632",
  "name": "Bamboo thermal ski coat.",
  "description": "Look great in winter with your synthetic thermal bamboo ski coat for reasonable price",
  "price": "300",
  "image_title": "bamboo-ski-coat-jacket_lynda_29941",
  "image": "images/slicker2.jpg"
},

{ 
  "id": "432",
  "name": "Red Slicker.",
  "description": "HJF jdhause idfgar oaer lfgkhiersfadj odjrgahj sdghrg dfjsdhi pofihji dfghe",
  "price": "250",
  "image_title": "bamboo-ski-coat-jacket_lynda_29941",
  "image": "images/slicker3.jpg"
},

{ 
  "id": "232",
  "name": "Black Slicker.",
  "description": "Thr adhg jt ak odfhgar sdfhgurjdfb j odjrgahj sdghrg dfjsdhi pofihji dfghe",
  "price": "150",
  "image_title": "bamboo-ski-coat-jacket_lynda_29941",
  "image": "images/slicker4.jpg"
},

{ 
  "id": "432",
  "name": "Rally Shoe for Men.",
  "description": "HJF jdhause idfgar oaer lfgkhiersfadj odjrgahj sdghrg dfjsdhi pofihji dfghe",
  "price": "190",
  "image_title": "bamboo-ski-coat-jacket_lynda_29941",
  "image": "images/rally_shoe1.jpg"
},
{ 
  "id": "432",
  "name": "Basketball Shoe For Ladies.",
  "description": "HJF jdhause idfgar oaer lfgkhiersfadj odjrgahj sdghrg dfjsdhi pofihji dfghe",
  "price": "120",
  "image_title": "bamboo-ski-coat-jacket_lynda_29941",
  "image": "images/basketball_shoe1.jpg"
},
{ 
  "id": "432",
  "name": "Nike Grey For Men.",
  "description": "HJF jdhause idfgar oaer lfgkhiersfadj odjrgahj sdghrg dfjsdhi pofihji dfghe",
  "price": "90",
  "image_title": "bamboo-ski-coat-jacket_lynda_29941",
  "image": "images/nike1.jpg"
},
{ 
  "id": "432",
  "name": "Erric Shoe for Ladies.",
  "description": "HJF jdhause idfgar oaer lfgkhiersfadj odjrgahj sdghrg dfjsdhi pofihji dfghe",
  "price": "100",
  "image_title": "bamboo-ski-coat-jacket_lynda_29941",
  "image": "images/ericshoe1.jpg"
},
] 
}

var app = new Vue({
el: '#app',
data: data
});
</script>
</body>

</html>
